@use '@sass-collective/breakpoint' with (
  $screens: (
    'mobile': 1px,
    'tablet': 680px,
    'desktop': 1024px,
    'desktop-wide': 1440px,
  )
);
.donation-list {
  width: 100%;

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;

    @include breakpoint.down('desktop') {
      gap: 24px;
    }

    @include breakpoint.only('mobile') {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    > * {
      margin: 0;
      width: 100%;
    }
  }
}